{% extends "base.html" %}
{% block head_title %}Home{% endblock head_title %}
{% block head_link %}
   {% endblock head_link %}   
{% block content %}

<div class="page-header">
<h1>WELCOME TO AHMAD ALI POST<small>....dont judge me</h1>
   </div> 	
<div class="jumbotron">
  
  <div class ="card-panel teal lighten-2">
            
                <a href={{post_last.get_absoulute_url}}><h2>{{post_last.title}}</h2></a>
                <p>{{post_last.content|linebreaks}}</p>
                <p>{{post_last.timestamp}}</p>
                <a href={{post_last.update_url_post}} class="btn btn-info">Updating the post </a>
                {% if post_last.image %}
                    <a href="#" class="thumbnail">
                        <img src="{{post_last.image.url}}" alt="...">
                    </a>
                {% endif %}

            </div>

    <div class="jumbotron">
        <h1>Event</h1>
        <div class ="#7986cb indigo lighten-2">
            <h3>{{last_event.event_name}}</h3>
            <h2>{{last_event.event_detail}}</h2>
            {% if last_event.event_pic %}
                <img class="responsive-img" src="{{last_event.evenet_pic.url}}">
            {% endif %}
            <cite>time the event start</cite><p>{{last_event.startdate_event}}</p>
            <cite>time event ends</cite><p>{{last_event.enddate_event}}</p>

        </div>
    </div>
{% endblock content%}
