h1 {
	color:black;

}
cite{
	color:black;
}
p{
	color: black;
}
.pagination{
	position: relative;
	left: 300px;
	color: black;
	background: white;
}


.glyphicon {
	position: relative;
    left: -15px;
    top:-30;
	

}
.homepage {
	
	position: relative;
	left :100px;
}
.content {
	padding: 50px;
}